<!DOCTYPE html>
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <title> {% block title %}K TUBE{% endblock title %} | K TUBE</title>
    <meta name="description" content="Shows That Are Just You">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#ffffff">
    <meta name="robots" content="index,follow">
	<meta name="keywords" content="Shows, Videos, Music, Documentaries" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=8, minimum-scale=1" />
	
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static '/images/site.webmanifest' %}">

	
		
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> {% endcomment %}
	
    {% comment %} <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"> {% endcomment %}
	{% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% endcomment %}

    {% comment %} <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css"> {% endcomment %}
	{% comment %} <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> {% endcomment %}
	
	{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css\vjs.zencdn.net_8.3.0_video-js.css' %}"> {% endcomment %}
	
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/cdn/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/cdn/bootstrap.min.css' %}"> 
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/tube.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/watch.css' %}">

	{% comment %} 
	<link rel="stylesheet" type="text/css" href="{% static 'css/cdn/free-v5-font-face.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/cdn/free.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/cdn/free-v4-shims.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/cdn/free-v4-font-face.min.css' %}">
	 {% endcomment %}
	
	{% comment %} Maybe?????? {% endcomment %}
	{% comment %} ############################################################ {% endcomment %}
	{% comment %} ######      Comment out this block during deploy     ####### {% endcomment %}
	{% comment %} ############################################################ {% endcomment %}
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/cdn/font-awesome.min.css' %}">
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/cdn/cssFamilycookie.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/cdn/all.css' %}">
	
	
	{% comment %} ############################################################ {% endcomment %}
	{% comment %} ############################################################ {% endcomment %}
	{% comment %} ############################################################ {% endcomment %}

	
	
	
	
	
</head>


<body  style="background: linear-gradient(grey, whitesmoke) !important;">
	{% include 'loaders/loader0.html' %}
	{% block bigbody %}
	
    {% endblock bigbody %}
	
	
	
	<script type="text/javascript" src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	
	
	<script type="text/javascript" src="{% static 'js/c44ff25b2e.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> 
	{% comment %} <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>  {% endcomment %}
	
	{% comment %} 	
	<script rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="https://kit.fontawesome.com/c44ff25b2e.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	{% endcomment %}
	
	<script type="text/javascript">
		window.addEventListener('load', function() {
			document.getElementById('loader').style.display = 'none';
		});


		if ('serviceWorker' in navigator) {
			window.addEventListener('load', function() {
			navigator.serviceWorker.register('/static/service-worker.js');
			});
		}
	</script>
	
</body>

</html>
