* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 98%);
  padding-top: 60px !important;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(0, 0%, 30%);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 4px !important;
}

.dropdown .btn:focus,
.dropdown .btn:active,
.dropdown .btn:not(:disabled):not(.disabled):active:focus,
.dropdown .btn:not(:disabled):not(.disabled).active:focus {
  box-shadow: none !important; /* Remove box shadow when focused or active */
  background-color: transparent !important; /* Set background color to transparent */
  border-color: transparent !important; /* Set border color to transparent */
}

a:hover {
  opacity: 0.7;
  padding-bottom: 2px;
  transform: translate(1%);
}

.navbar {
  display: flex;
  position: fixed !important; /* Set the navbar to fixed position */
  position: relative;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  justify-content: space-around;
  z-index: 1;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  min-height: 600px;
}

.dropdown-content {
  z-index: 100000;
}
.dropdown-menu {
  z-index: 100000;
}

.custom-dropdown::after {
  display: none;
}

.custom-dropdown:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-dropdown .fa-solid {
  z-index: 1000000000000;
}

.box-element {
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}
.box-element-playlist {
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  background-color: #b4b7bb;
  border-radius: 4px;
  padding: 10px;
  max-height: 250px;
  overflow-y: scroll;
  scroll-behavior: auto;
}

#form1.label {
  content: " ";
  white-space: pre-wrap;
}

.logo {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.logo span {
  color: #5383d3;
}
.thumbnail {
  width: 100%;
  height: 200px;
  -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.video {
  width: 100%;
  height: auto;
  /* max-height: 400px; */
  box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.details {
  width: 100%;
}

.description {
  width: 100%;
}

.product {
  border-radius: 0 0 4px 4px;
  padding-left: 20px;
}

.bg-dark {
  background-color: #292c2f !important;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
  margin-top: 10px;
}

.btn {
  border-radius: 0;
}

.row-image {
  width: 100px;
}

.form-field {
  width: 250px;
  display: inline-block;
  padding: 5px;
}

.cart-row {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.quantity {
  display: inline-block;
  font-weight: 700;
  padding-right: 10px;
}

.chg-quantity {
  width: 12px;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  transition: 0.1s;
}

.chg-quantity:hover {
  opacity: 0.6;
}

.hidden {
  display: none !important;
}

.channel-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

#video-views-count #likes-count #dislikes-count {
  font-size: 18px;
  float: left;
}

#more-videos-title {
  float: left;
}

#dislikes-count {
  margin-left: 5px;
}

#comment-heading {
  margin-top: 0;
}

#comment-section {
  max-height: 1000px;
  margin-top: 0;
  overflow-y: scroll;
  scroll-behavior: auto;
  overflow-x: hidden;
}

#more-videos {
  max-height: 1500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-top: 0;
}

#more-playlist-videos {
  max-height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-top: 0;
}

.box-element-highlight {
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: lightgreen;
	border-radius: 4px;
	padding: 10px;
}

#repliesStyle {
  margin-top: 0;
  max-height: 250px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.dropdown .btn:focus,
.dropdown .btn:active,
.dropdown .btn:not(:disabled):not(.disabled):active:focus,
.dropdown .btn:not(:disabled):not(.disabled).active:focus {
  box-shadow: none !important; /* Remove box shadow when focused or active */
  background-color: transparent !important; /* Set background color to transparent */
  border-color: transparent !important; /* Set border color to transparent */
}

.scroll-left {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: black;
  color: white;
  font-size: large;
  border: 1px solid white;
}
.scroll-left p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  transform: translateX(100%);
  /* Apply animation to this element */
  animation: scroll-left 13s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 1024px) {
  a {
    min-height: 48px;
  }
  .intro-page h1 {
    color: #fff;
    font-size: 60px;
  }
  .nav-links {
    width: 60%;
  }

  .thumbnail {
    width: 80%;
    height: 250px;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  }
}

@media screen and (max-width: 985px) {
  .intro-page h1 {
    color: #fff;
    font-size: 60px;
  }
  .nav-links {
    width: 60%;
  }

  .thumbnail {
    width: 100%;
    height: 400px;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  }
}

@media (max-device-width: 800px) and (orientation: portrait) {
  .thumbnail {
    width: 100%;
    height: 400px;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  }
}

@media screen and (max-width: 770px) {
  .intro-page h1 {
    color: #fff;
    font-size: 60px;
  }
  .nav-links {
    width: 60%;
  }

  .thumbnail {
    width: 100%;
    height: 350px;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  }
}

@media (max-device-width: 218px) and (max-device-height: 281px) {
  .thumbnail {
    width: 100%;
    height: 30px;
    width: 40px;
    align-items: center;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  }
}
