{% extends 'tube/base.html'%}
{% load static %}

{% block title %} Bye | K TUBE{% endblock title%}


{% block content %}

    <div class="container">
        <div class="row" style="align-items:center; text-align:center;">
            <div class="col-lg-12">
                <img src="{% static 'images/bye.png' %}" alt="">
            </div>
            <div class="col-lg-12">
                <h1 style="align-items: center;
                            color: red;">Goodbye</h1>
            </div>
            <div class="col-lg-12">
                <h3 style="align-items: center;
                        color: black;">See you soon.</h3>
            </div>
            <div class="col-lg-12">
                <p style="align-items: center;
                color: black;">You will be redirected to the Main Page in 5 Seconds</p></div>
            <div class="col-lg-12">
                <a href="/" class=""><strong>Go to main page Now</strong></a>
            </div>
            <div class="col-lg-12">
                <a href="{% url 'login' %}" class=""><strong>Login</strong></a>
            </div>
        </div>
    </div>
    <script>
        setTimeout(() =>{window.location.href = "/";}, 5000); //  5000 is equivalent to 5 seconds
    </script>

{% endblock content %}
