{% extends 'tube/base.html'%}
{% load static %}

{% block title %} Bye | K TUBE{% endblock title%}


{% block content %}

    <div class="container">
        <div class="row">
            <img src="{% static 'images/bye.png' %}" alt="">
        </div>
        <div class="row">
            <h1 style="align-items: center;
                        color: red;">Goodbye</h1>
        </div>
        <div class="row">
            <h3 style="align-items: center;
                    color: black;">See you soon.</h3>
        </div>
        <div class="row">
            <p style="align-items: center;
            color: black;">You will be redirected to the Main Page in 3 Seconds</p></div>
        <div class="row">
            <a href="/" class=""><strong>Back to main page</strong> <button href="/" class="btn btn-success">NOW</button></a>
        </div>
    </div>
    <script>
        setTimeout(() =>{window.location.href = "/";}, 10000); //2000 is equivalent to 2 seconds
    </script>

{% endblock content %}
