{% extends 'tube/base.html'%}
{% load crispy_forms_filters %}

{% block title %} Login | K TUBE{% endblock title%}

{% block content %}
    {% if not user.is_authenticated %}
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Login</button>
            <a href="{% url 'password_reset' %}" class=""><h6>Forgot Password?</h6></a>
            <h6>Don't have an account? <a href="{% url 'register' %}" class="">Sign Up</a></h6>
        </form>
    {% else %}
    <p>Invalid request</p>
    {% endif %}

{% endblock content %}
