{% extends 'tube/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}{{ history }} {% endblock title %}

{% block content %}
    <div class="row box-element">
        <div class="col-lg-12">
            {% if history.video_count == 1 %}
            <div class="row">
                <h3>{{history}}</h3><h4 style="padding-left: 7px;">- {{history.video_count}} video watched</h4>
            </div>
            {% else %}
            <div class="row">
                <h3>{{history}}</h3><h4 style="padding-left: 7px;">- {{history.video_count}} videos watched</h4>
            </div>
            {% endif %}

            
            <a href="{% url 'profile' %}"><div class="row"><h4>{{history.viewer.username | title }}</h4></div></a>
        </div>
    </div>
    <div class="row box-element">
        {% for view in views %}
            <div class="col-lg-4">
                <a href="/video/{{view.video.id}}">
                <img class="thumbnail" src="{{view.video.thumbnailURL}}" alt="">
                </a>
                <div class="box-element product">
                    <div class="row">
                        <a href="/video/{{view.video.id}}">
                            <h6 style="float: left">{{view.video.title}}</h6> 
                        </a>{% if view.video.private %}<h6 style="padding-left: 10px;">(private)</h6>
                            {% elif view.video.unlisted %}<h6 style="padding-left: 10px;">(unlisted)</h6>{% endif %}
                    </div>
                    <a href="/channel/{{view.video.channel.id}}">
                        <div class="row">
                            {% if view.video.channel.profile_picture %}
                            <img src="{{view.video.channel.profilePictureURL}}" class="channel-icon" alt="" style="width: 20px; height: 20px;">
                            {% else %}
                            <img src="{% static 'images/placeholder.png' %}" class="channel-icon" alt="" style="width: 20px; height: 20px;">
                            {% endif %}
                            <h6>{{view.video.channel}}</h6>
                        </div>
                    </a>
                    <div class="row">
                        <h6 style="float: left">Viewed {{ view.viewed_on | naturaltime }}</h6> 
                    </div>
                </div>
            </div>
            {% empty %}
        <div class="col-lg-12 box-element">
                <h4>Empty</h4>
        </div>
        {% endfor %}
    </div>
{% endblock content %}