{% extends 'tube/base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}
    {% comment %} {% include 'tube/homescreen.html' %} {% endcomment %}
    <div class="row">
        <div class="col-log-12">
            {% if channel %}
                <h2>Welcome <a href="channel/{{channel.id}}">{{channel.name}}</h2>
                <!-- look for sentence case humanize tag -->
            {% endif %}
        </div>
    </div>
    
    {% include 'tube/videos.html' %}


{% endblock content %}