{% extends 'tube/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}{{ playlist.name }} {% endblock title %}

{% block content %}

<style>
    .dropdown .btn:focus,
    .dropdown .btn:active,
    .dropdown .btn:not(:disabled):not(.disabled):active:focus,
    .dropdown .btn:not(:disabled):not(.disabled).active:focus {
        box-shadow: none !important; /* Remove box shadow when focused or active */
        background-color: transparent !important; /* Set background color to transparent */
        border-color: transparent !important; /* Set border color to transparent */
    }
</style>


    <div class="row">
        <div class="col-lg-12">
            <form enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-12">
                        <label for="stream-title">Title</label>
                        <input type="text" name="stream" id="stream-title">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label for="description">Description</label>
                        <input type="text" name="description" id="description">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label for="thumbnail">Thumbnail</label>
                        <input type="file" name="thumbnail" id="thumbnail">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                    <a onclick="event.preventDefault(); startStream(event);"><button class="btn btn-success">Start stream</button></a>
                    </div>
                </div>
            </form>
            <form>
                <div class="row">
                    <div class="col-lg-12">
                        <a onclick="event.preventDefault(); stopStream(event);"><button class="btn btn-outline-secondary add-btn update-cart">Stop stream</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr style="padding-top: 3px;">

    <script type="text/javascript" src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <script>
        function startStream (event){
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'start_stream' %}",
                data: {
                    name:"newstream",
                },
                success: (response)=>{
                    if (response.success){
                        console.log(response);
                        alert(response.message)
                    }else{
                        console.log(response.error);
                        alert(response.error);
                    }
                },
            });
        }
    </script>

{% endblock content %}