{% extends 'tube/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}{{ playlist.name }} {% endblock title %}

{% block content %}

<style>
    .dropdown .btn:focus,
    .dropdown .btn:active,
    .dropdown .btn:not(:disabled):not(.disabled):active:focus,
    .dropdown .btn:not(:disabled):not(.disabled).active:focus {
        box-shadow: none !important; /* Remove box shadow when focused or active */
        background-color: transparent !important; /* Set background color to transparent */
        border-color: transparent !important; /* Set border color to transparent */
    }
</style>


    <div class="row box-element">
        <div class="col-lg-12">
            {% if playlist.channel.user == viewer %}
                {% if playlist.video_count == 1 %}
                <div class="row">
                    <h3>{{playlist.name}}</h3><h4 style="padding-left: 7px;">- {{playlist.video_count}} video</h4>
                </div>
                {% else %}
                <div class="row">
                    <h3>{{playlist.name}}</h3><h4 style="padding-left: 7px;">- {{playlist.video_count}} videos</h4>
                </div>
                {% endif %}
                {% if playlist.public_video_count == 1 %}
                <div class="row"><h4 style="padding-left: 7px;">({{playlist.public_video_count}} public video)</h4></div>
                {% else %}
                <div class="row"><h4 style="padding-left: 7px;">({{playlist.public_video_count}} public videos)</h4></div>
                {% endif %}
            {% else %}
                {% if playlist.public_video_count == 1 %}
                <div class="row">
                    <h3>{{playlist.name}}</h3><h4 style="padding-left: 7px;">- {{playlist.public_video_count}} video</h4>
                </div>
                {% else %}
                <div class="row">
                    <h3>{{playlist.name}}</h3><h4 style="padding-left: 7px;">- {{playlist.public_video_count}} videos</h4>
                </div>
                {% endif %}
            {% endif %}

            
            <div class="row"><a href="{% url 'channel' playlist.channel.id %}"><h4>{{playlist.channel.name}}</h4></a></div>
            
            <div class="row">
                <div class="col-lg-10">
                    {% if playlist.views == 1 %}
                    <h5 style="float: left">{{playlist.views}} View</h5>
                    {% else %}
                    <h5 style="float: left">{{playlist.views}} Views</h5>
                    {% endif %}
                </div>
        
                <div class="col-lg-2 col-12 text-right mt-2 mt-lg-0">
                    <div class="video-options">
                        <div class="dropdown">
                            <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                {% if user.is_authenticated %}
                                    {% if playlist in saved_playlists %}
                                        <form id="save-playlist-form">
                                            {% csrf_token %}
                                            <input type="hidden" name="playlist_id" value="{{ playlist.id }}">
                                            <a class="dropdown-item" href="#" id="save-playlist-button" 
                                                style="display: none;" onclick="event.preventDefault(); 
                                                handleSavePlaylist(event, '{{ playlist.id }}', 
                                                'save-playlist-button', 'unsave-playlist-button');"
                                                >Save Playlist</a>
                                        </form>
                                        <form id="unsave-playlist-form">
                                            {% csrf_token %}
                                            <input type="hidden" name="playlist_id" value="{{ playlist_id }}">
                                            <a class="dropdown-item" href="#" id="unsave-playlist-button" 
                                                style="display: block;" onclick="event.preventDefault(); 
                                                handleUnSavePlaylist(event, '{{ playlist.id }}', 
                                                'save-playlist-button', 'unsave-playlist-button');"
                                                >Unsave Playlist</a>
                                        </form>
                                    {% else %}
                                        <form id="save-playlist-form">
                                            {% csrf_token %}
                                            <input type="hidden" name="playlist_id" value="{{ playlist.id }}">
                                            <a class="dropdown-item" href="#" id="save-playlist-button" 
                                                style="display: block;" onclick="event.preventDefault(); 
                                                handleSavePlaylist(event, '{{ playlist.id }}', 
                                                'save-playlist-button', 'unsave-playlist-button');"
                                                >Save Playlist</a>
                                        </form>
                                        <form id="unsave-playlist-form">
                                            {% csrf_token %}
                                            <input type="hidden" name="playlist_id" value="{{ playlist_id }}">
                                            <a class="dropdown-item" href="#" id="unsave-playlist-button" 
                                            style="display: none;" onclick="event.preventDefault(); 
                                            handleUnSavePlaylist(event, '{{ playlist.id }}', 
                                            'save-playlist-button', 'unsave-playlist-button');"
                                            >Unsave Playlist</a>
                                        </form>
                                    {% endif %}
                                    {% if playlist_owner %}
                                        <a class="dropdown-item" href="{% url 'edit_playlist_view' playlist.id %}"><h6>Edit Playlist</h6></a>
                                    {% endif %}
                                {% else %}
                                    <a class="dropdown-item" target='_blank' href="{% url 'login' %}">Save playlist</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <a href="{% url 'watch_playlist' playlist.id 0 %}">
                    <button class="btn btn-success">Play</button>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        {% for video in videos %}
            <div class="col-lg-4">
                <a href="{% url 'video' video.slug %}">
                <img class="thumbnail" src="{{video.thumbnailURL}}" alt="VIdeo Thumbnail">
                </a>
                <div class="box-element product">
                    <div class="row">
                        <a href="{% url 'video' video.slug %}">
                            <h6 style="float: left">{{video.title}}</h6> 
                        </a>{% if video.private %}<h6 style="padding-left: 10px;">(private)</h6>
                            {% elif video.unlisted %}<h6 style="padding-left: 10px;">(unlisted)</h6>{% endif %}
                    </div>
                    {% if video.price > 0 %}
                    <div class="row">
                        <p style="float: left; color:green;">KShs. {{ video.price | floatformat:2 | intcomma }}</p>
                    </div>
                    {% endif %}
                    <a href="{% url 'channel' video.channel.id %}">
                        <div class="row">
                            {% if video.channel.profile_picture %}
                            <img src="{{video.channel.profilePictureURL}}" class="channel-icon" alt="Channel Profile picture" style="width: 20px; height: 20px;">
                            {% else %}
                            <img src="{% static 'images/placeholder.png' %}" class="channel-icon" alt="Channel Profile picture" style="width: 20px; height: 20px;">
                            {% endif %}
                            <h6>{{video.channel}}</h6>
                        </div>
                    </a>
                    <div class="row">
                        <div class="col-lg-10">
                        {% if video.views is not 1 %}
                            <h6 style="float: left">{{video.views | intcomma }} views</h6>
                        {% else %}
                            <h6 style="float: left">{{video.views | intcomma }} view</h6>
                        {% endif %}
                        </div>
                        <div class="col-lg-2 col-12 text-right mt-2 mt-lg-0">
                            <div class="video-options">
                                <div class="dropdown">
                                    <button class="btn" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
                                        {% if user.is_authenticated %}
                                            {% if video in watchlater.videos.all %}
                                            <form id="remove-video-{{video.slug}}-from-watchlater-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="video_id" value="{{video.slug}}">
                                                <a href="#" class="dropdown-item add-btn-link update-cart" 
                                                id="remove-video-{{video.slug}}-from-watchlater-button" 
                                                style="display: block;"
                                                onclick="event.preventDefault(); handleRemoveFromWatchlater(event, 
                                                '{{video.slug}}', '{{playlist.id}}', 
                                                'remove-video-{{video.slug}}-from-watchlater-button', 
                                                'add-video-{{video.slug}}-to-watchlater-button')"
                                                >Remove Video From Watchlater</a>
                                            </form>
                                            <script>
                                            </script>
    
                                            <form id="add-video-{{video.slug}}-to-watchlater-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="video_id" value="{{video.slug}}">
                                                <a href="#" class="dropdown-item add-btn-link update-cart" 
                                                id="add-video-{{video.slug}}-to-watchlater-button"
                                                style="display: none;" 
                                                onclick="event.preventDefault(); handleAddToWatchlater(event, 
                                                '{{video.slug}}', '{{playlist.id}}', 
                                                'add-video-{{video.slug}}-to-watchlater-button', 
                                                'remove-video-{{video.slug}}-from-watchlater-button')"
                                                >Add Video to Watchlater</a>
                                            </form>
                                            {% else %}
                                            <form id="remove-video-{{video.slug}}-from-watchlater-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="video_id" value="{{video.slug}}">
                                                <a href="#" class="dropdown-item add-btn-link update-cart" 
                                                id="remove-video-{{video.slug}}-from-watchlater-button" 
                                                style="display: none;"
                                                onclick="event.preventDefault(); handleRemoveFromWatchlater(event, 
                                                '{{video.slug}}', '{{playlist.id}}', 
                                                'remove-video-{{video.slug}}-from-watchlater-button', 
                                                'add-video-{{video.slug}}-to-watchlater-button')"
                                                >Remove Video From Watchlater</a>
                                            </form>
    
                                            <form id="add-video-{{video.slug}}-to-watchlater-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="video_id" value="{{video.slug}}">
                                                <a href="#" class="dropdown-item add-btn-link update-cart" 
                                                id="add-video-{{video.slug}}-to-watchlater-button"
                                                style="display: block;" 
                                                onclick="event.preventDefault(); handleAddToWatchlater(event, 
                                                '{{video.slug}}', '{{playlist.id}}', 
                                                'add-video-{{video.slug}}-to-watchlater-button', 
                                                'remove-video-{{video.slug}}-from-watchlater-button')"
                                                >Add Video to Watchlater</a>
                                            </form>
                                            
                                            {% endif %}
                                            {% for playlist in playlists %}
                                                {% if video in playlist.videos.all %}
                                                <form id="remove-video-{{video.slug}}-from-plist-{{playlist.id}}-form">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="playlist_id" value="{{playlist.id}}">
                                                    <input type="hidden" name="video_id" value="{{video.slug}}">
                                                    <a href="#" class="dropdown-item add-btn-link update-cart" 
                                                    id="remove-video-{{video.slug}}-from-plist-{{playlist.id}}-button"
                                                    style="display: block;"
                                                    onclick="event.preventDefault(); handleRemoveFromPlaylist(event, 
                                                    '{{video.slug}}', '{{playlist.id}}', 
                                                    'remove-video-{{video.slug}}-from-plist-{{playlist.id}}-button', 
                                                    'add-video-{{video.slug}}-to-plist-{{playlist.id}}-button')"
                                                    >Remove Video from {{playlist|title}}</a>
                                                </form>
                                                
    
                                                <form id="add-video-{{video.slug}}-to-plist-{{playlist.id}}-form">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="playlist_id" value="{{playlist.id}}">
                                                    <input type="hidden" name="video_id" value="{{video.slug}}">
                                                    <a href="#" class="dropdown-item add-btn-link update-cart" 
                                                    id="add-video-{{video.slug}}-to-plist-{{playlist.id}}-button"
                                                    style="display: none;"
                                                    onclick="event.preventDefault(); handleAddToPlaylist(event, 
                                                    '{{video.slug}}', '{{playlist.id}}', 
                                                    'add-video-{{video.slug}}-to-plist-{{playlist.id}}-button', 
                                                    'remove-video-{{video.slug}}-from-plist-{{playlist.id}}-button')"
                                                    >Add Video to {{playlist|title}}</a>
                                                </form>
                                                
                                                {% else %}
                                                <form id="remove-video-{{video.slug}}-from-plist-{{playlist.id}}-form">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="playlist_id" value="{{playlist.id}}">
                                                    <input type="hidden" name="video_id" value="{{video.slug}}">
                                                    <a href="#" class="dropdown-item add-btn-link update-cart" 
                                                    id="remove-video-{{video.slug}}-from-plist-{{playlist.id}}-button"
                                                    style="display: none;"
                                                    onclick="event.preventDefault(); handleRemoveFromPlaylist(event, 
                                                    '{{video.slug}}', '{{playlist.id}}', 
                                                    'remove-video-{{video.slug}}-from-plist-{{playlist.id}}-button', 
                                                    'add-video-{{video.slug}}-to-plist-{{playlist.id}}-button')"
                                                    >Remove Video from {{playlist|title}}</a>
                                                </form>
                                                
          
                                                <form id="add-video-{{video.slug}}-to-plist-{{playlist.id}}-form">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="playlist_id" value="{{playlist.id}}">
                                                    <input type="hidden" name="video_id" value="{{video.slug}}">
                                                    <a href="#" class="dropdown-item add-btn-link update-cart" 
                                                    id="add-video-{{video.slug}}-to-plist-{{playlist.id}}-button"
                                                    style="display: block;"
                                                    onclick="event.preventDefault(); handleAddToPlaylist(event, 
                                                    '{{video.slug}}', '{{playlist.id}}', 
                                                    'add-video-{{video.slug}}-to-plist-{{playlist.id}}-button', 
                                                    'remove-video-{{video.slug}}-from-plist-{{playlist.id}}-button')"
                                                    >Add Video to {{playlist|title}}</a>
                                                </form>
                                                
                                                {% endif %}
                                            {% endfor %}
                                            {% if nav_channel %}
                                                <a class="dropdown-item" href="{% url 'create_playlist' nav_channel.id %}">Create playlist</a>
                                            {% elif no_channel %}
                                                <a class="dropdown-item" href="{% url 'create_channel' %}">Create channel to create playlist</a>
                                            {% elif many_channels %}
                                                {% for channel in my_channels %}
                                                    <a class="dropdown-item" href="{% url 'create_playlist' channel.id %}">Create playlist in {{channel}} channel</a>
                                                {% endfor %}
                                            {% endif %}
                                        {% else %}
                                            <a class="dropdown-item" target='_blank' href="{% url 'login' %}">Add to playlist</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
        <div class="col-lg-12">
                <h4>Empty Playlist</h4>
        </div>
        {% endfor %}
    </div>

    <hr style="padding-top: 3px;">

    <script type="text/javascript" src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <script>
        function toggleItem(id, toggle) {
            let element = document.getElementById(id);
            element.style.display = (toggle) ? 'block' : 'none';
        }
        
        function handleAddToWatchlater(event, videoId, playlistId, addButtonId, successId) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'add_video_to_watchlater' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    video_id: videoId,
                },
                success: function(response) {
                    toggleItem(addButtonId, false);
                    toggleItem(successId, true);
                },
            });
        }

        function handleRemoveFromWatchlater(event, videoId, playlistId, addButtonId, successId) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'remove_video_from_watchlater' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    video_id: videoId,
                },
                success: function(response) {
                    toggleItem(addButtonId, false);
                    toggleItem(successId, true);
                },
            });
        }
        function handleAddToPlaylist(event, videoId, playlistId, addButtonId, successId) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'add_video_to_playlist' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    video_id: videoId,
                    playlist_id: playlistId
                },
                success: function(response) {
                    toggleItem(addButtonId, false);
                    toggleItem(successId, true);
                },
            });
        }

        function handleRemoveFromPlaylist(event, videoId, playlistId, addButtonId, successId) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'remove_video_from_playlist' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    video_id: videoId,
                    playlist_id: playlistId
                },
                success: function(response) {
                    toggleItem(addButtonId, false);
                    toggleItem(successId, true);
                },
            });
        }
    
        function handleSavePlaylist(event, playlistId, saveButtonId, unSaveButtonId) {
            console.log("handleSavePlaylist function called");
            event.preventDefault(); 
            $.ajax({
                type: 'POST',
                url: '{% url "save_playlist" %}',
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    playlist_id: playlistId,
                },
                success: (response)=> {
                    toggleItem(saveButtonId, false);
                    toggleItem(unSaveButtonId, true);
                },
            });
        }
    
        function handleUnSavePlaylist(event, playlistId, saveButtonId, unSaveButtonId) {
            console.log("handleUnSavePlaylist function called");
            event.preventDefault(); 
            $.ajax({
                type: 'POST',
                url: '{% url "unsave_playlist" %}',
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    playlist_id: playlistId,
                },
                success: (response)=> {
                    toggleItem(unSaveButtonId, false);
                    toggleItem(saveButtonId, true);
                },
            });
        }

        {% comment %} function confirmDeletePlaylist(event, playlistId){
            event.preventDefault()
            var result = confirm("Are you sure you want to delete this Playlist?");
            if (result){
                $.ajax({
                    type: 'POST',
                    url: '{% url "delete_playlist" %}',
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        playlist_id: playlistId,
                    },
                    success: (response)=>{
                        alert(response.message);
                        setTimeout(() =>{window.location.href = "/";}, 500);

                    },
                    error: (response)=>{
                        alert(response.message)
                    },
                });
            }else{
                alert('Deletion Canceled!');
            }  
        } {% endcomment %}
    </script>
{% endblock content %}