{% extends 'tube/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}{{ saved_playlists }} {% endblock title %}

{% block content %}
    
    <div class="row box-element" style="margin-top: 10px;">
        <div class="col-lg-12"><div class="row"><h2>Saved Playlists</h2></div></div>
        <a href="{% url 'profile' %}"><div class="col-lg-12"><h4>{{saved_playlists.viewer.username | title }}</h4></div></a>
    </div>
    <div class="row">
        {% for playlist in playlists %}
        <div class="col-lg-4 box-element">
            <div style="padding-left: 10px;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                        <a href="{% url 'playlist' playlist.id %}">
                            <h4>{{playlist.name}}</h4>
                        </a>
                        </div>
                    </div>
                
                    <div class="col-lg-12">
                        <div class="row">
                            {% if playlist.channel.user == viewer %}
                            {% if playlist.video_count == 1 %}<h5 style="padding-left: 5px;"> {{playlist.video_count}} video</h5>
                            {% else %}<h5 style="padding-left: 5px;"> - {{playlist.video_count}} videos</h5>{% endif %}
                            {% if playlist.public_video_count == 1 %}<h5 style="padding-left: 5px;"> ({{playlist.public_video_count}} public video)</h5>
                            {% else %}<h5 style="padding-left: 5px;"> ({{playlist.public_video_count}} public videos)</h5>{% endif %}
                            {% else %}
                            {% if playlist.public_video_count == 1 %}<h5 style="padding-left: 5px;"> - {{playlist.public_video_count}} video</h5>
                            {% else %}<h5 style="padding-left: 5px;"> - {{playlist.public_video_count}} videos</h5>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if playlist.channel.profile_picture %}
                    <img src="{{playlist.channel.profilePictureURL}}" class="channel-icon" alt="Channel Profile picture" style="width: 20px; height: 20px;">
                    {% else %}
                    <img src="{% static 'images/placeholder.png' %}" class="channel-icon" alt="Channel Profile picture" style="width: 20px; height: 20px;">
                    {% endif %}
                    <h5>{{playlist.channel}}</h5>
                </div>
                <div class="row">
                    <div class="col-lg-10">
                        {% if playlist.views == 1 %}
                        <h5 style="float: left">{{playlist.views}} View</h5>
                        {% else %}
                        <h5 style="float: left">{{playlist.views}} Views</h5>
                        {% endif %}
                    </div>
            
                    <div class="col-lg-2 col-12 text-right mt-2 mt-lg-0">
                        <div class="video-options">
                            <div class="dropdown">
                                <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    {% if user.is_authenticated %}
                                        {% if playlist in saved_playlists.playlists.all %}
                                            <form id="save-playlist-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="playlist_id" value="{{ playlist.id }}">
                                                <a class="dropdown-item" href="#" id="save-playlist-button" 
                                                    style="display: none;" onclick="event.preventDefault(); 
                                                    handleSavePlaylist(event, '{{ playlist.id }}', 
                                                    'save-playlist-button', 'unsave-playlist-button');"
                                                    >Save Playlist</a>
                                            </form>
                                            <form id="unsave-playlist-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="playlist_id" value="{{ playlist_id }}">
                                                <a class="dropdown-item" href="#" id="unsave-playlist-button" 
                                                    style="display: block;" onclick="event.preventDefault(); 
                                                    handleUnSavePlaylist(event, '{{ playlist.id }}', 
                                                    'save-playlist-button', 'unsave-playlist-button');"
                                                    >Unsave Playlist</a>
                                            </form>
                                        {% else %}
                                            <form id="save-playlist-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="playlist_id" value="{{ playlist.id }}">
                                                <a class="dropdown-item" href="#" id="save-playlist-button" 
                                                    style="display: block;" onclick="event.preventDefault(); 
                                                    handleSavePlaylist(event, '{{ playlist.id }}', 
                                                    'save-playlist-button', 'unsave-playlist-button');"
                                                    >Save Playlist</a>
                                            </form>
                                            <form id="unsave-playlist-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="playlist_id" value="{{ playlist_id }}">
                                                <a class="dropdown-item" href="#" id="unsave-playlist-button" 
                                                style="display: none;" onclick="event.preventDefault(); 
                                                handleUnSavePlaylist(event, '{{ playlist.id }}', 
                                                'save-playlist-button', 'unsave-playlist-button');"
                                                >Unsave Playlist</a>
                                            </form>
                                        {% endif %}
                                        {% if playlist_owner %}
                                            <a class="dropdown-item" href="{% url 'edit_playlist_view' playlist.id %}"
                                                ><h6 style="color: red;">Edit Playlist</h6></a>
                                        {% endif %}
                                    {% else %}
                                        <a class="dropdown-item" target='_blank' href="{% url 'login' %}">Save playlist</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-lg-12">
            <h4>No Playlists Yet</h4>
        </div>
        {% endfor %}
    </div>
    <hr style="padding-top: 3px;">
    <div class="row box-element" style="margin-top: 10px;">
        <div class="col-lg-12">
            <div class="row">
                <h2>My Playlists</h2>
                {% if not many_channels and not no_channel %}
                <a href="{% url 'create_playlist' nav_channel.id %}"><button 
                    class="btn btn-success"
                    style="margin-left:40px;">Create Playlist</button></a>
                    {% elif no_channel %}
                    <a href="{% url 'create_channel' %}"><button 
                        class="btn btn-success"
                        style="margin-left:40px;">Create Channel then Playlist</button></a>
                    {% else %}
                    {% for channel in my_channels %}
                    <a href="{% url 'create_playlist' channel.id %}"><button 
                        class="btn btn-success"
                        style="margin-left:40px;">Create Playlist in {{ channel }}</button></a>
                    {% endfor %}
                    {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        {% for playlist in my_playlists %}
        <div class="col-lg-4 box-element">
            <div style="padding-left: 10px;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                        <a href="{% url 'playlist' playlist.id %}">
                            <h4>{{playlist.name}}</h4>
                        </a>
                        </div>
                    </div>
                
                    <div class="col-lg-12">
                        <div class="row">
                            {% if playlist.channel.user == viewer %}
                            {% if playlist.video_count == 1 %}<h5 style="padding-left: 5px;"> {{playlist.video_count}} video</h5>
                            {% else %}<h5 style="padding-left: 5px;"> {{playlist.video_count}} videos</h5>{% endif %}
                            {% if playlist.public_video_count == 1 %}<h5 style="padding-left: 5px;"> ({{playlist.public_video_count}} public video)</h5>
                            {% else %}<h5 style="padding-left: 5px;"> ({{playlist.public_video_count}} public videos)</h5>{% endif %}
                            {% else %}
                            {% if playlist.public_video_count == 1 %}<h5 style="padding-left: 5px;">{{playlist.public_video_count}} video</h5>
                            {% else %}<h5 style="padding-left: 5px;">{{playlist.public_video_count}} videos</h5>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if playlist.channel.profile_picture %}
                    <img src="{{playlist.channel.profilePictureURL}}" class="channel-icon" alt="Channel Profile picture" style="width: 20px; height: 20px;">
                    {% else %}
                    <img src="{% static 'images/placeholder.png' %}" class="channel-icon" alt="Channel Profile picture" style="width: 20px; height: 20px;">
                    {% endif %}
                    <h5>{{playlist.channel}}</h5>
                </div>
                <div class="row">
                    <div class="col-lg-10">
                        {% if playlist.views == 1 %}
                        <h5 style="float: left">{{playlist.views}} View</h5>
                        {% else %}
                        <h5 style="float: left">{{playlist.views}} Views</h5>
                        {% endif %}
                    </div>
            
                    <div class="col-lg-2 col-12 text-right mt-2 mt-lg-0">
                        <div class="video-options">
                            <div class="dropdown">
                                <button class="btn" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
                                    {% if user.is_authenticated %}
                                        {% if playlist in saved_playlists.playlists.all %}
                                        {% else %}
                                            <form id="save-playlist-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="playlist_id" value="{{ playlist.id }}">
                                                <a class="dropdown-item" href="#" id="save-playlist-button" 
                                                    style="display: block;" onclick="event.preventDefault(); 
                                                    handleSavePlaylist(event, '{{ playlist.id }}', 
                                                    'save-playlist-button', 'unsave-playlist-button');"
                                                    >Save Playlist</a>
                                            </form>
                                            <form id="unsave-playlist-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="playlist_id" value="{{ playlist_id }}">
                                                <a class="dropdown-item" href="#" id="unsave-playlist-button" 
                                                style="display: none;" onclick="event.preventDefault(); 
                                                handleUnSavePlaylist(event, '{{ playlist.id }}', 
                                                'save-playlist-button', 'unsave-playlist-button');"
                                                >Unsave Playlist</a>
                                            </form>
                                        {% endif %}
                                        {% if playlist_owner %}
                                            <a class="dropdown-item" href="{% url 'edit_playlist_view' playlist.id %}"
                                                ><h6 style="color: red;">Edit Playlist</h6></a>
                                        {% endif %}
                                    {% else %}
                                        <a class="dropdown-item" target='_blank' href="{% url 'login' %}">Save playlist</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-lg-12">
            <h4>No Playlists Yet</h4>
        </div>
        {% endfor %}
    </div>
    <hr style="padding-top: 3px;">


    <script type="text/javascript" src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <script>
        function toggleItem(id, toggle) {
            let element = document.getElementById(id);
            element.style.display = (toggle) ? 'block' : 'none';
        }
        
        function handleSavePlaylist(event, playlistId, saveButtonId, unSaveButtonId) {
            console.log("handleSavePlaylist function called");
            event.preventDefault(); 
            $.ajax({
                type: 'POST',
                url: '{% url "save_playlist" %}',
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    playlist_id: playlistId,
                },
                success: (response)=> {
                    toggleItem(saveButtonId, false);
                    toggleItem(unSaveButtonId, true);
                    setTimeout(() =>{window.location.reload();}, 5);
                },
            });
        }
    
        function handleUnSavePlaylist(event, playlistId, saveButtonId, unSaveButtonId) {
            console.log("handleUnSavePlaylist function called");
            event.preventDefault(); 
            $.ajax({
                type: 'POST',
                url: '{% url "unsave_playlist" %}',
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    playlist_id: playlistId,
                },
                success: (response)=> {
                    toggleItem(unSaveButtonId, false);
                    toggleItem(saveButtonId, true);
                },
            });
        }

        function confirmDeletePlaylist(event, playlistId){
            event.preventDefault()
            var result = confirm("Are you sure you want to delete this Playlist?");
            if (result){
                $.ajax({
                    type: 'POST',
                    url: '{% url "delete_playlist" %}',
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        playlist_id: playlistId,
                    },
                    success: (response)=>{
                        alert(response.message);
                        setTimeout(() =>{window.location.reload();}, 500);

                    },
                    error: (response)=>{
                        alert(response.message)
                    },
                });
            }else{
                alert('Deletion Canceled!');
            }  
        }
    </script>
{% endblock content %}