{% extends 'tube/base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}



{% block title %}{{title | title }} {% endblock title %}

{% block content %}
    <div class="row">
        {% if channel %}
            <div class="col-lg-12 box-element">
                <h2>Search results for: {{query | title }}</h2>
                <!-- look for sentence case humanize tag -->
            </div>
        {% endif %}
    </div>
    
    {% include 'tube/search_videos.html' %}


{% endblock content %}