{% load crispy_forms_filters %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}
<script type="text/javascript" src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
<script>
    function toggleItem(id, toggle) {
        let element = document.getElementById(id);
        element.style.display = (toggle) ? 'block' : 'none';
    };
</script>

<div class="row box-element">
    {% for video in videos %}
        <div class="col-lg-4">
            <a href="/video/{{video.id}}">
            <img class="thumbnail" src="{{video.thumbnailURL}}" alt="">
            </a>
            <div class="box-element product">
                <div class="row">
                    <a href="/video/{{video.id}}">
                        <h6 style="float: left">{{video.title}}</h6>
                    </a>
                </div>
                <a href="/channel/{{video.channel.id}}">
                    <div class="row">
                        <h6>{{video.channel}}</h6>
                    </div>
                </a>
                <div class="row">
                    <div class="col-lg-10">
                        {% if video.views is not 1 %}
                            <h6 style="float: left">{{video.views | intcomma }} views</h6>
                        {% else %}
                            <h6 style="float: left">{{video.views | intcomma }} view</h6>
                        {% endif %}
                    </div>
                    <div class="col-lg-2 col-12 text-right mt-2 mt-lg-0">
                        <div class="video-options">
                            <div class="dropdown">
                                <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fas fa-ellipsis-v"></i>
                                    <!-- <span class="options-toggler-icon"></span> -->
                                </button>
                            
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    {% if user.is_authenticated %}
                                        {% for playlist in playlists %}
                                            {% if video in playlist.videos.all %}
                                            <a class="dropdown-item" href="#">Remove Video from {{playlist|title}}</a>
                                            {% else %}
                                            <form id="add-video-{{video.id}}-to-plist-{{playlist.id}}-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="playlist_id" value="{{playlist.id}}">
                                                <input type="hidden" name="video_id" value="{{video.id}}">
                                                <button class="btn btn-outline-secondary add-btn update-cart" type="submit" id="add-{{video.id}}-to-{{playlist.id}}-button">Add Video to {{playlist|title}}</button>
                                                <!-- <a class="dropdown-item" type="submit" id="add-{{video.id}}-to-{{playlist.id}}-button">Add Video to {{playlist|title}}</a> -->
                                            </form>
                                            <p id='add-video-{{video.id}}-to-plist-{{playlist.id}}-success' style="display: none;">Added to {{playlist|title}}</p>
                                            <script>
                                                function handleAddToPlaylist(event){
                                                    event.preventDefault();
                                                    $.ajax({
                                                        type: 'POST',
                                                        url: "{% url 'add_video_to_playlist' %}",
                                                        data: $('#add-video-{{video.id}}-to-plist-{{playlist.id}}-form').serialize(),
                                                        success: (response)=>{
                                                            toggleItem("add-{{video.id}}-to-{{playlist.id}}-button",false);
                                                            toggleItem("add-video-{{video.id}}-to-plist-{{playlist.id}}-success",true);
                                                        },
                                                    });
                                                };
                                                $('#add-video-{{video.id}}-to-plist-{{playlist.id}}-form').submit(handleAddToPlaylist);
                                            </script>
                                            {% endif %}
                                        {% empty %}
                                            {% if nav_channel %}
                                                <a class="dropdown-item" href="/create_playlist/{{nav_channel.id}}">Create playlist</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <a class="dropdown-item" target='_blank' href="{% url 'login' %}">Add to playlist</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
 </div>

{% endblock content %}


