{% extends 'tube/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}{{ video.title }}| K TUBE{% endblock title%}

{% block content %}

    <div class="row">
        <video 
        seeking="true" 
        controls="true" 
        autoplay="true" 
        class="video" id="video-watching" src="{{video.videoURL}}"></video>
    </div>
    <div class="row box-element">
        <div class="col-lg-12">
            <div class="row">
                <h6 style="font-size: 25px; float: left"><strong>{{video.title}}</strong></h6>
            </div><div class="row">
                <h6 style="font-size: 20px;"><strong>{{video.channel}}</strong></h6>
            </div>
            <div class="row">
                {% if video.views is not 1 %}
                    <h6 style="font-size: 18px; float: left"><strong> {{video.views | intcomma }} views</strong></h6>
                {% else %}
                    <h6 style="font-size: 18px; float: left"><strong> {{video.views | intcomma }} view</strong></h6>
                {% endif %}
            </div>
            <div class="row">
                {% if video.likes is not 1 %}
                    <h6 style="font-size: 18px; float: left"><strong> {{video.likes }} likes</strong></h6>
                {% else %}
                    <h6 style="font-size: 18px; float: left"><strong> {{video.likes}} like</strong></h6>
                {% endif %}
                {% if video.dislikes is not 1 %}
                    <h6 style="font-size: 18px; margin-left:5px; float: left"><strong> {{video.dislikes }} dislikes</strong></h6>
                {% else %}
                    <h6 style="font-size: 18px; margin-left:5px; float: left"><strong> {{video.dislikes }} dislike</strong></h6>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <div class="row">
                <button data-product="{{video.id}}" 
                    data-action="like" 
                    class="btn btn-outline-secondary add-btn update-cart"
                    style="margin-left:0px;">Like</button>
                <button data-product="{{video.id}}" 
                    data-action="dislike" 
                    class="btn btn-outline-secondary add-btn update-cart"
                    style="margin-left:35px;">Dislike</button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row box-element">
        <div class="col-lg-12">
            <div class="description">
                <h6 style="font-size: 18px; display: flex;">{{video.upload_time}}</h6>
                {% if video.description %}
                <hr>
                <p>{{video.description}}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

<script type="text/javascript" src="{% static 'js/watch.js' %}"></script>

