{% extends 'tube/head.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

    {% block title %}{{video.title}} {% endblock title %}
    {% block bigbody %}
    {% include 'tube/navbar.html' %}

    <!-- ##################     Video Player        #############-->
        <video

        controls
        autoplay="true" 
        class="video" id="currentVideo" src="{{video.videoURL}}"></video>

        
<div class="container" style="background: linear-gradient(Grey, whitesmoke)!important;">       
    <!-- ###################     Video details     ################# --> 
    <div class="row box-element">
        <div class="col-lg-12">
            <div class="row">
                <h6 style="font-size: 25px; float: left"><strong>{{video.title}}</strong></h6>
                {% if video.private %}<h6 style="padding-left: 10px;">(private)</h6>
                {% elif video.unlisted %}<h6 style="padding-left: 10px;">(unlisted)</h6>{% endif %}
            </div><div class="row">
                {% if video.channel.profile_picture %}
                <img src="{{video.channel.profilePictureURL}}" class="channel-icon" alt="" style="width: 30px; height: 30px;">
                {% else %}
                <img src="{% static 'images/placeholder.png' %}" class="channel-icon" alt="" style="width: 30px; height: 30px;">
                {% endif %}
                <a href="/channel/{{video.channel.id}}">
                    <h6 style="font-size: 20px;"><strong>{{video.channel}}</strong></h6>
                </a>
                <h5 style="padding-left: 10px;">-</h5>
                {% if subscriber_count == 1 %}<h5 id='subscriber-count' style="padding-left: 10px;">{{ subscriber_count }} Subscriber</h5>{% else %}
                <h5 id='subscriber-count' style="padding-left: 10px;">{{ subscriber_count }} Subscribers</h5>
                {% endif %}
            </div>

    <!-- ####################         Subscribe Button FUNCTIONALITY     #########################-->
            {% if user.is_authenticated %}
            <div class="row">
                {% if viewer == video.channel.user %}
                    <div class="row"><h6><a href="/edit_channel/{{video.channel.id}}"><button 
                        class="btn btn-outline-secondary add-btn update-cart"
                        style="margin-left:40px;">Edit Channel</button></a></h6></div>                
                {% else %}
                    {% if not subscribed %}
                        <form id="subscribe-form" method="POST" style="display: block;">
                            {% csrf_token %}
                            <input type="hidden" name="channel_id" value="{{video.channel.id}}">
                            <button class="btn btn-outline-secondary add-btn update-cart"
                            style="margin-left:50px;" type="submit" id="subscribe-button">Subscribe</button>
                        </form>
                        <form id="unsubscribe-form" method="POST" style="display: none;">
                            {% csrf_token %}
                            <input type="hidden" name="channel_id" value="{{video.channel.id}}">
                            <button class="btn btn-outline-secondary add-btn update-cart"
                            style="margin-left: 50px;"  type="submit" id="unsubscribe-button">Unsubscribe</button>
                        </form> 
                    {% else %}
                        <form id="subscribe-form" method="POST" style="display: none;">
                            {% csrf_token %}
                            <input type="hidden" name="channel_id" value="{{video.channel.id}}">
                            <button class="btn btn-outline-secondary add-btn update-cart"
                            style="margin-left:50px;" type="submit" id="subscribe-button">Subscribe</button>
                        </form>
                        <form id="unsubscribe-form" method="POST" style="display: block;">
                            {% csrf_token %}
                            <input type="hidden" name="channel_id" value="{{video.channel.id}}">
                            <button class="btn btn-outline-secondary add-btn update-cart"
                            style="margin-left: 50px;"  type="submit" id="unsubscribe-button">Unsubscribe</button>
                        </form>                 
                    {% endif %}
                {% endif %}
            </div>
            {% else %}
            <div class="row">
                <a href="{% url 'login' %}" target="_blank">
                    <button
                    class="btn btn-outline-secondary add-btn update-cart"
                    style="margin-left:50px;">Subscribe</button>
                </a>
            </div>
            {% endif %}




            <!-- #############          Views        ##############-->
            <div class="row">
                {% if video.views is not 1 %}
                    <h6 style="font-size: 18px; float: left"><strong> {{video.views | intcomma }} views</strong></h6>
                {% else %}
                    <h6 style="font-size: 18px; float: left"><strong> {{video.views | intcomma }} view</strong></h6>
                {% endif %}
            </div>
            <div class="row"><h6 style="font-size: 18px; display: flex;">{{video.upload_period}}</h6></div>
        </div>
    </div>
    

    <div class="row box-element">
        <div class="col-lg-12">

    <!-- ##### Likes and Dislikes ###### -->

            <div class="row">
                {% if video.likes is not 1 %}
                    <strong><h6 id="likes-count" style="font-size: 18px; float: left">{{video.likes | intcomma}} likes</h6></strong> 
                {% else %}
                    <strong><h6 id="likes-count" style="font-size: 18px; float: left">{{video.likes | intcomma}} like</h6></strong> 
                {% endif %}
                {% if video.dislikes is not 1 %}
                    <strong><h6 id="dislikes-count" style="font-size: 18px; margin-left:5px; float: left">{{video.dislikes | intcomma}} Dislikes</h6></strong>
                {% else %}
                    <strong><h6 id="dislikes-count" style="font-size: 18px; margin-left:5px; float: left">{{video.dislikes | intcomma}} Dislike</h6></strong>
                {% endif %}
            </div>




    <!-- ##### Like and Dislike buttons ###### -->

            {% if user.is_authenticated %}
                <div class="row"> 
                    {% if liked %}
                    <form id="unlike-form" method="POST" style="display: block;">
                        {% csrf_token %}
                        <input type="hidden" name="video_id" value="{{video.id}}">
                        <button class="btn btn-outline-secondary add-btn update-cart"
                        style="margin-left:0px;" type="submit" id="unlike-button">Unlike</button>
                    </form>
                    <form id="like-form" method="POST" style="display: none;">
                        {% csrf_token %}
                        <input type="hidden" name="video_id" value="{{video.id}}">
                        <button class="btn btn-outline-secondary add-btn update-cart"
                        style="margin-left:0px;" type="submit" id="like-button">Like</button>
                    </form>
                    {% else %}
                    <form id="unlike-form" method="POST" style="display: none;">
                        {% csrf_token %}
                        <input type="hidden" name="video_id" value="{{video.id}}">
                        <button class="btn btn-outline-secondary add-btn update-cart"
                        style="margin-left:0px;" type="submit" id="unlike-button">Unlike</button>
                    </form>
                    <form id="like-form" method="POST" style="display: block;">
                        {% csrf_token %}
                        <input type="hidden" name="video_id" value="{{video.id}}">
                        <button class="btn btn-outline-secondary add-btn update-cart"
                        style="margin-left:0px;" type="submit" id="like-button">Like</button>
                    </form>
                    {% endif %}
                    {% if disliked %}
                    <form id="undislike-form" method="POST" style="display: block;">
                        {% csrf_token %}
                        <input type="hidden" name="video_id" value="{{video.id}}">
                        <button class="btn btn-outline-secondary add-btn update-cart"
                        style="margin-left:0px;" type="submit" id="undislike-button">Undislike</button>
                    </form>
                    <form id="dislike-form" method="POST" style="display: none;">
                        {% csrf_token %}
                        <input type="hidden" name="video_id" value="{{video.id}}">
                        <button class="btn btn-outline-secondary add-btn update-cart"
                        style="margin-left:0px;" type="submit" id="dislike-button">Dislike</button>
                    </form>
                    {% else %}
                    <form id="undislike-form" method="POST" style="display: none;">
                        {% csrf_token %}
                        <input type="hidden" name="video_id" value="{{video.id}}">
                        <button class="btn btn-outline-secondary add-btn update-cart"
                        style="margin-left:0px;" type="submit" id="undislike-button">Undislike</button>
                    </form>
                    <form id="dislike-form" method="POST" style="display: block;">
                        {% csrf_token %}
                        <input type="hidden" name="video_id" value="{{video.id}}">
                        <button class="btn btn-outline-secondary add-btn update-cart"
                        style="margin-left:0px;" type="submit" id="dislike-button">Dislike</button>
                    </form>
                    {% endif %}
                </div>
            {% else %}
            <div class="row">
                <a href="{% url 'login' %}" target="_blank">
                    <button class="btn btn-outline-secondary add-btn update-cart"
                    style="margin-left:0px;">Like</button>
                </a>
                <a href="{% url 'login' %}" target="_blank">
                    <button class="btn btn-outline-secondary add-btn update-cart"
                    style="margin-left:0px;">Dislike</button>
                </a>
            </div>
            {% endif %}
            </div>
    </div>
    <!-- ##### Description ###### -->
    <div class="row box-element">
        <div class="col-lg-12">
            <div class="description">
                <h4><u>Description</u></h4>
                {% if video.description %}
                <div class="row"><h6 >{{video.description}}</h6></div>
                {% else %}
                <div class="row"><h6 >No Description</h6></div>
                {% endif %}
                <hr>
                <div class="row"><h6>Video uploaded on {{video.upload_time}}</h6></div>
            </div>
        </div>
    </div>

    <!-- ###################     Comments       ################# --> 
    {% if comments %}
    <div class="row"><h4 class="col-lg-12 box-element" style="margin-top: 0; margin-bottom: 0!important;"><u>Comments</u></h4></div>
        {% for comment in comments%}
            <div class="row box-element">
                <div class="col-lg-12">
                    <div class="row description">
                        {% if comment.channel.profile_picture %}
                        <img src="{{comment.channel.profilePictureURL}}" class="channel-icon" alt="" style="width: 25px; height: 25px;">
                        {% else %}
                        <img src="{% static 'images/placeholder.png' %}" class="channel-icon" alt="" style="width: 25px; height: 25px;">
                        {% endif %}
                        <a href="/channel/{{comment.channel.id}}"><p><strong>{{comment.channel}}</strong></p></a>
                    </div>
                    <div class="row description">
                        <p>{{comment}}</p>
                    </div>
                    <div class="row">
                        {% if comment.likes is not 1 %}
                            <div class="">{{comment.likes | intcomma}} likes</div>
                        {% else %}
                            <div class="">{{comment.likes | intcomma}} like</div>
                        {% endif %}
                        {% if comment.dislikes is not 1 %}
                            <div class=""><p style="padding-left: 10px; margin-bottom: 0px;">{{comment.dislikes | intcomma}} dislike</p></div>
                        {% else %}
                            <div class=""><p style="padding-left: 10px; margin-bottom: 0px;">{{comment.dislikes | intcomma}} dislike</p></div>
                        {% endif %}
                    </div>
                    {% if user.is_authenticated %}
                        <div class="row">
                            <button data-product="{{video.id}}" 
                                data-action="like" 
                                class="btn btn-outline-secondary add-btn update-cart"
                                style="margin-left:0px;">Like</button>
                            <button data-product="{{video.id}}" 
                                data-action="dislike" 
                                class="btn btn-outline-secondary add-btn update-cart"
                                style="margin-left:20px;">Dislike</button>
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- ###################     Comment Replies      ################# --> 
            {% for reply in comment_replies %}
                {% if  reply.comment == comment %}
                    <div class="row box-element" style="margin-left: 30px;">
                        <div class="col-lg-12">
                            <div class="row description">
                                {% if reply.channel.profile_picture %}
                                <img src="{{reply.channel.profilePictureURL}}" class="channel-icon" alt="" style="width: 25px; height: 25px;">
                                {% else %}
                                <img src="{% static 'images/placeholder.png' %}" class="channel-icon" alt="" style="width: 25px; height: 25px;">
                                {% endif %}
                                <p><strong><a href="/channel/{{reply.channel.id}}">{{reply.channel}}</a></strong> replied to <strong><a href="/channel/{{comment.channel.id}}">{{comment.channel}}</a></strong></p>
                            </div>
                            <div class="row description">
                                <p>{{reply}}</p>
                            </div>
                            <div class="row">
                                {% if reply.likes is not 1 %}
                                    <div class="">{{reply.likes | intcomma}} likes</div>
                                {% else %}
                                    <div class="">{{reply.likes | intcomma}} like</div>
                                {% endif %}
                                {% if reply.dislikes is not 1 %}
                                    <div class=""><p style="padding-left: 10px; margin-bottom: 0px;">{{reply.dislikes | intcomma}} dislike</p></div>
                                {% else %}
                                    <div class=""><p style="padding-left: 10px; margin-bottom: 0px;">{{reply.dislikes | intcomma}} dislike</p></div>
                                {% endif %}
                            </div>
                            {% if user.is_authenticated %}
                                <div class="row">
                                    <button data-product="{{video.id}}" 
                                        data-action="like" 
                                        class="btn btn-outline-secondary add-btn update-cart"
                                        style="margin-left:0px;">Like</button>
                                    <button data-product="{{video.id}}" 
                                        data-action="dislike" 
                                        class="btn btn-outline-secondary add-btn update-cart"
                                        style="margin-left:20px;">Dislike</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
                                <!-- display pagination links -->
                        {% if comments.has_other_pages %}
                        <div class="pagination col-lg-12 box-element">
                            {% if comments.has_previous %}
                                <h5><a href="?page=1">&laquo; first</a></h5>
                                <h5><a href="?page={{ comments.previous_page_number }}">&lsaquo; previous</a></h5>
                            {% endif %}

                            {% for num in comments.paginator.page_range %}
                                {% if num == comments.number %}
                                    <h5><span class="current-page">{{ num }}</span></h5>
                                {% elif num > comments.number|add:'-3' and num < comments.number|add:'3' %}
                                    <h5><a href="?page={{ num }}">{{ num }}</a></h5>
                                {% endif %}
                            {% endfor %}

                            {% if comments.has_next %}
                                <h5><a href="?page={{ comments.next_page_number }}">next &rsaquo;</a></h5>
                                <h5><a href="?page={{ comments.paginator.num_pages }}">last &raquo;</a></h5>
                            {% endif %}
                        </div>
                        {% endif %}
    {% else %}
        <h4>No Comments</h4>
    {% endif %}
</div>
</div>
<script type="text/javascript" src="{% static 'js/jquery-3.7.0.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/watch.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- Jquery and Ajax -->
<script>
    function toggleItem(id, toggle) {
        let element = document.getElementById(id);
        element.style.display = (toggle) ? 'block' : 'none';
    };

    function handleSubscribe(event) {
        event.preventDefault(); 
        $.ajax({
            type: 'POST',
            url: '{% url "subscribe" %}',
            data: $('#subscribe-form').serialize(),
            success: (response)=> {
                toggleItem('subscribe-form', false);
                toggleItem('unsubscribe-form', true);
                if (response.subscriber_count===1) {
                $('#subscriber-count').text(response.subscriber_count + " Subscriber");
                } else {
                $('#subscriber-count').text(response.subscriber_count + " Subscribers");
                }
            },
        });
    };
    $('#subscribe-form').submit(handleSubscribe);
    
    function handleUnSubscribe(event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "unsubscribe" %}',
            data: $('#unsubscribe-form').serialize(),
            success: (response)=> {
                toggleItem('subscribe-form', true);
                toggleItem('unsubscribe-form', false);
                if (response.subscriber_count===1) {
                $('#subscriber-count').text(response.subscriber_count + " Subscriber");
                } else {
                $('#subscriber-count').text(response.subscriber_count + " Subscribers");
                }
            },
        });
    };
    $('#unsubscribe-form').submit(handleUnSubscribe);

    function handleLike(event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "like" %}',
            data: $('#like-form').serialize(),
            success: (response)=> {
                toggleItem('like-form', false);
                toggleItem('unlike-form', true);
                if (response.likes_count===1) {
                $('#likes-count').text(response.likes_count + " Like");
                } else {
                $('#likes-count').text(response.likes_count + " Likes");
                }
            },
        });
    };
    $('#like-form').submit(handleLike);

    function handleDisLike(event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "dislike" %}',
            data: $('#dislike-form').serialize(),
            success: (response)=> {
                toggleItem('dislike-form', false);
                toggleItem('undislike-form', true);
                if (response.dislikes_count===1) {
                $('#dislikes-count').text(response.dislikes_count + " Dislike");
                } else {
                $('#dislikes-count').text(response.dislikes_count + " Dislikes");
                }
            },
        });
    };
    $('#dislike-form').submit(handleDisLike);
      
    function handleUnLike(event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "unlike" %}',
            data: $('#unlike-form').serialize(),
            success: (response)=> {
                toggleItem('unlike-form', false);
                toggleItem('like-form', true);
                if (response.dislikes_count===1) {
                $('#likes-count').text(response.likes_count + " Like");
                } else {
                $('#likes-count').text(response.likes_count + " Likes");
                }
            },
        });
    };
    $('#unlike-form').submit(handleUnLike);
      
    function handleUnDisLike(event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "undislike" %}',
            data: $('#undislike-form').serialize(),
            success: (response)=> {
                toggleItem('undislike-form', false);
                toggleItem('dislike-form', true);
                if (response.dislikes_count===1) {
                $('#dislikes-count').text(response.dislikes_count + " Dislike");
                } else {
                $('#dislikes-count').text(response.dislikes_count + " Dislikes");
                }
            },
        });
    };
    $('#undislike-form').submit(handleUnDisLike);

    setTimeout(()=>{
        $.ajax({
            type: 'POST',
            url: "{% url 'add_view' %}",
            data: {
                video_id: {{video.id}},
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            success:()=>{
                console.log('Success, View logged')
            },
        });
    }, 5000);

    $(document).ready(() => {
        function fetchSubscriberCount() {
            $.ajax({
              type: 'GET',
              url: "/get_subs/{{video.channel.id}}",
              success: (response) => {
                if (response.subscriber_count === 1) {
                  $('#subscriber-count').text(response.subscriber_count + " Subscriber");
                } else {
                  $('#subscriber-count').text(response.subscriber_count + " Subscribers");
                }
              },
              complete: () => {
                setTimeout(fetchSubscriberCount, 10000); // Call the function again after 10 second(s)
              }
            });
          }
        
          fetchSubscriberCount(); // Initial call to start fetching subscriber count        
    });


    addEventListener('offline', () => {
        alert('You are offline\nPlease get connected to continue watching');
      });
      
      addEventListener('online', () => {
        alert('You are now online!');
      });
</script>

    {% include 'tube/footer.html' %}
    {% endblock bigbody %}

